.bodyframe {
    height:1000px;
    background-image: url("/assets/img/background.jpg");
}
.navbar {
    background-color: #3581b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoPart {
    font-size: 30px;
    color:#F3F8f2;
    font-weight:500;
}

.centerContainer {
    padding-top:400px;
}

.searchBox {
    padding-top:20px;
    width:100%;
    height:85px;
    background-color:#DEE2D6;
    border-radius: 10px;

}
.searchInput { 
    padding:0;
    margin-right:0px;
}
.searchButton {
    margin-top:-10px;
}

.inspirationMeme {
    text-align: center;
    weight:1000;
    color:#F3F8f2;
    padding-bottom:50px;
}
#locationField, #controls {
    position: relative;
    width: 480px;
  }
  #autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    width:100%;
    height: 20px;
    margin-bottom: 2px;
  }